*{
    padding: 0;
    margin: 0;
}
.pc{
    display: block;
}
.sp{
    display: none;
}
body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #515151;
}
main{
    position: relative;
}
.maxw-740{
    max-width: 740px;
}
.lr-center{
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    color: #515151;
}
.size20{
    font-size: 20px;
}
.size24{
    font-size: 24px;
    margin: 80px 20px 16px;
}
.size28{
    font-size: 28px;
    margin: 40px 0 32px;
}
.size32{
    font-size: 32px;
    margin: 80px 0 40px;
}
.size48{
    font-size: 48px;
    margin: 80px 0 80px;
}

.title-border{
    border-bottom: 2px solid #515151;
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.title-border::before{
    content: '';
    background-color: #fff;
    width: 30px;
     height: 5px;
     position: absolute;
     left: 40px;
     bottom: -4px;
}
.title-border::after{
    content: '';
    background-color: #515151;
    width: 20px;
    height: 2px;
    transform: rotate(50deg);
    position: absolute;
    left: 35px;
    bottom: -9px;
}

.title-circle::before{
    content: '・';
    padding: 10px;
}

.p-circle::before{
    content: '・';
}

.fixed-btn{
    display: none;
    position: fixed;
    bottom: 20%;
    right: 4%;
    padding: 10px;
    max-width: 100px;
}
.form-btn{
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 20px;
}
.form-btn-small{
    border-radius: 40px;
    padding: 8px 20px;
}
.btn-yellow{
    background-color: #D2DF38;
    color: #515151;
}
.btn-black{
    background-color: #515151;
    color: #D2DF38;
}

.flex{
    display: flex;
}
section{
    margin: 80px 0;
}

/* ヘッダー */
header{
    background-color: #515151;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    margin: auto;
}
header img{
    max-width: 200px;
}
.header-menu{
    display: flex;
    align-items: center;
}
.header-menu li{
    margin-right: 40px;
}
.header-menu li a{
    color: #F5F5F5;
}
/* -- */

/* ヒーローエリア */
.hero_container{
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 4% ;
}
.hero_container-item{
    text-align: center;
    width: 100%;
    max-width: 600px;
}
.hero_container-item h1{
    margin: 0;
}
.lineart{
    vertical-align: bottom;
}
/* -- */

/* 概要 */
.about{
    background-color: #F5F5F5;
    padding: 80px 0;
}
.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.kadai{
    text-align: center;
    gap: 40px;
    margin-top: 40px;
}
.kadai_container img{
    max-width: 150px;
}
.kadai-explanation{
    text-align: left;
}
.kadai-explanation p{
     margin-bottom: 16px;
}
.explanation-title{
    font-weight: bold;
}
.external-link{
    text-align: right;
}
.after-icon::after{
    content: '';
    background-image: url(source/ExternalLink.png);
    display: inline-block;
    background-size: contain;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 8px;
}

/* -- */

/* 全体の流れ */
.flow_box{
    border: solid 1px #515151;
    margin-top: 40px;
}
.flow_box_container{
    margin: 0 50px 80px;
}
.flow_box_container dl{
    margin-top: 20px;
}
.flow_box_container .dl-item{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
.annotation{
    font-size: 16px;
}
.table-day{
    text-align: left;
    width: 100%;
}
.table-day th{
 font-size: 20px;
 vertical-align: bottom;
 padding-right: 80px;
}
.table-day td{
    font-size: 40px;
    padding-top: 40px;
}
.border-bottom th,.border-bottom td{
    border-bottom: solid 1px #515151;
    border-collapse: collapse;
    padding-bottom: 40px;
}
/* -- */

/* 申し込み */
/*.form{
    padding: 80px 0;
    background-image: url(source/light.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
*/
.form{
    position: relative;
    margin: 80px 0;
}
.light{
    position: absolute;
    z-index: -1;
    top: -40vh;
    right: 15%;
    height: 100vh;
    object-fit: contain;
}

.form_container{
    text-align: center;
}
.form_container p{
    margin-top: 40px;
}
/* -- */

/* 主催・協賛 */
.list-company{
    flex-wrap: wrap;
    gap: 40px;
}
/* -- */

/* フッター */
footer{
    background-color: #515151;
    color: #F5F5F5;
    text-align: center;
    padding: 20px 10% 40px;
    margin-top: 80px;
}
footer a{
    color: #D2DF38;
    text-decoration: underline;
}
.list-links{
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.list-links img{
    max-width: 300px;
}
.toiawase{
    margin-bottom: 40px;
}
/* -- */


/* ブレイクポイント */
@media screen and (max-width:800px){

    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
    p{
        max-width: 650px;
    }

    .lr-center{
        margin-left: 4%;
        margin-right: 4%;
    }

    .flex{
        display: block;
    }
    
    .hero_container-item{
        max-width: 100%;
    }

    .hero-logo img{
        max-width: 250px;
        margin-bottom: 40px;
    }

    .kadai_container{
        margin-top: 40px;
    }

    .flow_box_container{
        margin: 0 20px 80px;
    }
    .table-day th{
        padding-right: 40px;
    }
    .table-day td{
        font-size: 32px;
        padding-top: 30px;
        padding-right: 20px;
    }

    .light{
        top: -40vh;
        right: 0px;
        width: 2000px;
        height: 100vh;
        object-fit: contain;
    }

    .list-links{
        display: block;
        margin-bottom: 80px;
    }
    .list-links li{
        margin-top: 20px;
    }
}

@media screen and (max-width:600px){

    .about .size48{
        font-size: 32px;
    }

   /*//////// hamburger */
  .openbtn {
    color: #333333;
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    right: 20px;
  }
  .openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #333;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active span {
    background: #333;
    z-index: 110;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .openbtn.active .sp-nav {
    display: block;
    transform: translate(-100%, 0);
  }
  /*////////// sp nav */
  .sp-nav {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.3s;
  }
  .sp-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
  }

    .table-day th{
        font-size: 16px;
    }
    .table-day td{
        font-size: 24px;
    }
    /*////////////*/
}